In [1]:
import pandas as pd
import codecs
import datetime
from datetime import date
import numpy as np
import os

In [2]:
f = codecs.open(r'/Users/oat/Desktop/งาน/untitled folder/2021.09.10.csv', "r", "utf-16")

In [3]:
E = '2021.12.14.csv'

In [4]:
data = pd.read_csv(f ,sep = '\t',skip_blank_lines=True)

In [5]:
data

,Symbol,Vol. ATO 1,Price ATO 1,Close(T-1),Vol. ATO 2,Price ATO 2,Price 12:30,Vol. ATC,Price ATC,Price 16:30,Percent Chg. SS1,Value SS1,Percent Chg. SS2,Value SS2,Percent Chg. ATC,Value ATC
0,ADVANC,92200.0,191.00,191.00,77900,190.50,190.00,779200,190.00,190.50,0.00,17610200.0,0.26,14839950.0,-0.26,148048000.0
1,AFC,5600.0,13.10,13.20,800,12.40,12.40,5000,12.30,12.30,-0.76,73360.0,0.00,9920.0,0.00,61500.0
2,AHC,3000.0,16.60,16.60,0,0.00,16.80,1000,16.70,16.80,0.00,49800.0,-100.00,0.0,-0.60,16700.0
3,AJ,2800.0,19.40,19.40,500,19.30,19.30,14500,19.30,19.30,0.00,54320.0,0.00,9650.0,0.00,279850.0
4,ALUCON,400.0,180.00,180.00,0,0.00,180.00,100,180.00,180.00,0.00,72000.0,-100.00,0.0,0.00,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,ADD,100.0,25.25,25.25,1400,25.75,25.75,8700,26.00,25.75,0.00,2525.0,0.00,36050.0,0.97,226200.0
811,MUD,100.0,1.93,1.89,500,1.92,1.92,40000,2.04,2.02,2.12,193.0,0.00,960.0,0.99,81600.0
812,SMD,52900.0,14.10,14.10,12200,14.10,14.10,157200,14.10,14.10,0.00,745890.0,0.00,172020.0,0.00,2216520.0
813,SECURE,51500.0,27.75,26.75,30000,27.75,27.75,529800,29.75,29.75,3.74,1429125.0,0.00,832500.0,0.00,15761550.0
814,STOWER,17335500.0,0.11,0.11,7886600,0.12,0.12,15127000,0.12,0.12,0.00,1906905.0,0.00,946392.0,0.00,1815240.0

In [6]:
df = data.copy()

In [7]:
date = []

In [8]:
for i in range(len(df)):
    date.append('2021.12.14')

In [9]:
df['Time'] = date

In [10]:
df = df.set_index('Time').reset_index()

In [11]:
df

,Time,Symbol,Vol. ATO 1,Price ATO 1,Close(T-1),Vol. ATO 2,Price ATO 2,Price 12:30,Vol. ATC,Price ATC,Price 16:30,Percent Chg. SS1,Value SS1,Percent Chg. SS2,Value SS2,Percent Chg. ATC,Value ATC
0,2021.12.14,ADVANC,92200.0,191.00,191.00,77900,190.50,190.00,779200,190.00,190.50,0.00,17610200.0,0.26,14839950.0,-0.26,148048000.0
1,2021.12.14,AFC,5600.0,13.10,13.20,800,12.40,12.40,5000,12.30,12.30,-0.76,73360.0,0.00,9920.0,0.00,61500.0
2,2021.12.14,AHC,3000.0,16.60,16.60,0,0.00,16.80,1000,16.70,16.80,0.00,49800.0,-100.00,0.0,-0.60,16700.0
3,2021.12.14,AJ,2800.0,19.40,19.40,500,19.30,19.30,14500,19.30,19.30,0.00,54320.0,0.00,9650.0,0.00,279850.0
4,2021.12.14,ALUCON,400.0,180.00,180.00,0,0.00,180.00,100,180.00,180.00,0.00,72000.0,-100.00,0.0,0.00,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,2021.12.14,ADD,100.0,25.25,25.25,1400,25.75,25.75,8700,26.00,25.75,0.00,2525.0,0.00,36050.0,0.97,226200.0
811,2021.12.14,MUD,100.0,1.93,1.89,500,1.92,1.92,40000,2.04,2.02,2.12,193.0,0.00,960.0,0.99,81600.0
812,2021.12.14,SMD,52900.0,14.10,14.10,12200,14.10,14.10,157200,14.10,14.10,0.00,745890.0,0.00,172020.0,0.00,2216520.0
813,2021.12.14,SECURE,51500.0,27.75,26.75,30000,27.75,27.75,529800,29.75,29.75,3.74,1429125.0,0.00,832500.0,0.00,15761550.0
814,2021.12.14,STOWER,17335500.0,0.11,0.11,7886600,0.12,0.12,15127000,0.12,0.12,0.00,1906905.0,0.00,946392.0,0.00,1815240.0

In [12]:
df.columns

Index(['Time', 'Symbol', 'Vol. ATO 1', 'Price ATO 1', 'Close(T-1)',
       'Vol. ATO 2', 'Price ATO 2', 'Price 12:30', 'Vol. ATC', 'Price ATC',
       'Price 16:30', 'Percent Chg. SS1', 'Value SS1', 'Percent Chg. SS2',
       'Value SS2', 'Percent Chg. ATC', 'Value ATC'],
      dtype='object')

In [13]:
# for i in range(len(df)):
#     if 3 <= df.loc[i,'Percent Chg. SS1'] <= 5:
#         df.loc[i,'Status'] = 'BUY'
#         df.loc[i,'p.ATC-p.ATO'] = df.loc[i,'Price ATC'] - df.loc[i,'Price ATO 1']

In [16]:
for i in range(len(df)):
    if 1000000<=df.loc[i,'Value SS1']<=3000000:
        pass
    else:
        df.loc[i,'Check_value'] = np.nan

In [17]:
df

,Time,Symbol,Vol. ATO 1,Price ATO 1,Close(T-1),Vol. ATO 2,Price ATO 2,Price 12:30,Vol. ATC,Price ATC,Price 16:30,Percent Chg. SS1,Value SS1,Percent Chg. SS2,Value SS2,Percent Chg. ATC,Value ATC,Check_value
0,2021.12.14,ADVANC,92200.0,191.00,191.00,77900,190.50,190.00,779200,190.00,190.50,0.00,17610200.0,0.26,14839950.0,-0.26,148048000.0,NaN
1,2021.12.14,AFC,5600.0,13.10,13.20,800,12.40,12.40,5000,12.30,12.30,-0.76,73360.0,0.00,9920.0,0.00,61500.0,NaN
2,2021.12.14,AHC,3000.0,16.60,16.60,0,0.00,16.80,1000,16.70,16.80,0.00,49800.0,-100.00,0.0,-0.60,16700.0,NaN
3,2021.12.14,AJ,2800.0,19.40,19.40,500,19.30,19.30,14500,19.30,19.30,0.00,54320.0,0.00,9650.0,0.00,279850.0,NaN
4,2021.12.14,ALUCON,400.0,180.00,180.00,0,0.00,180.00,100,180.00,180.00,0.00,72000.0,-100.00,0.0,0.00,18000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,2021.12.14,ADD,100.0,25.25,25.25,1400,25.75,25.75,8700,26.00,25.75,0.00,2525.0,0.00,36050.0,0.97,226200.0,NaN
811,2021.12.14,MUD,100.0,1.93,1.89,500,1.92,1.92,40000,2.04,2.02,2.12,193.0,0.00,960.0,0.99,81600.0,NaN
812,2021.12.14,SMD,52900.0,14.10,14.10,12200,14.10,14.10,157200,14.10,14.10,0.00,745890.0,0.00,172020.0,0.00,2216520.0,NaN
813,2021.12.14,SECURE,51500.0,27.75,26.75,30000,27.75,27.75,529800,29.75,29.75,3.74,1429125.0,0.00,832500.0,0.00,15761550.0,NaN
814,2021.12.14,STOWER,17335500.0,0.11,0.11,7886600,0.12,0.12,15127000,0.12,0.12,0.00,1906905.0,0.00,946392.0,0.00,1815240.0,NaN

In [19]:
df1 = df.dropna()

In [23]:
df1.shape

(0, 18)

In [25]:
name_st = df['Symbol'].to_list()

In [39]:
col = ['(1M-3M),(3,5))','((3M-5M),(3,5))','((5M-7M),(3,5))','((7M-10M),(3,5))','((10M<),(3,5))',
      '(1M-3M),(5,7))','((3M-5M),(5,7))','((5M-7M),(5,7))','((7M-10M),(5,7))','((10M<),(5,7))',
      '(1M-3M),(7,10))','((3M-5M),(7,10))','((5M-7M),(7,10))','((7M-10M),(7,10))','((10M<),(7,10))']

In [48]:
CT = pd.DataFrame(columns=col)
CT['Symbol'] = name_st
CT.set_index('Symbol',inplace = True)
CT.reset_index(inplace = True)

In [49]:
CT

,Symbol,"(1M-3M),(3,5))","((3M-5M),(3,5))","((5M-7M),(3,5))","((7M-10M),(3,5))","((10M<),(3,5))","(1M-3M),(5,7))","((3M-5M),(5,7))","((5M-7M),(5,7))","((7M-10M),(5,7))","((10M<),(5,7))","(1M-3M),(7,10))","((3M-5M),(7,10))","((5M-7M),(7,10))","((7M-10M),(7,10))","((10M<),(7,10))"
0,ADVANC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AHC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALUCON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,ADD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,MUD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,SMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
813,SECURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814,STOWER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN