In [1]:
import pandas as pd
import datetime
from datetime import date
import numpy as np
import codecs

In [60]:
f = codecs.open(r'/Users/oat/Desktop/งาน/tick/2021.11.09.csv', "r", "utf-16")

In [61]:
data = pd.read_csv(f ,sep = '\t',skip_blank_lines=True)

In [28]:
list_old_col = data.columns.to_list()

In [29]:
list_col = range(4)

In [30]:
data.rename(columns={list_old_col[i]:list_col[i] for i in range(len(list_col))},inplace=True)

In [39]:
data

                         0     1      2     3
0    2021.11.09 09:58.914   22.4   2800  SELL
1    2021.11.09 09:58.914   22.4    100  SELL
2    2021.11.09 09:58.914   22.4    500  SELL
3    2021.11.09 09:58.914   22.4   1600  SELL
4    2021.11.09 10:00.129   22.4    900  SELL
..                     ...   ...    ...   ...
688  2021.11.09 16:26.387   22.8    500   BUY
689  2021.11.09 16:27.980   22.7   1000  SELL
690  2021.11.09 16:29.848   22.8    400   BUY
691  2021.11.09 16:29.848   22.8    100   BUY
692  2021.11.09 16:35.475   22.9  18100   BUY

[693 rows x 4 columns]

In [50]:
data.iloc[692,0]

'2021.11.09 16:35.475 '

In [51]:
datetime.datetime.strptime(data.iloc[692,0], '%Y.%m.%d %H:%M.%f ').strftime('%H:%M')

'16:35'

In [75]:
def getData():
    f = codecs.open(r'/Users/oat/Desktop/งาน/tick/2021.11.09.csv', "r", "utf-16")#ที่อยู่ไฟล์
    data = pd.read_csv(f ,sep = '\t',skip_blank_lines=True)
    list_old_col = data.columns.to_list()
    list_col = range(4)
    status = 'close'
    data.rename(columns={list_old_col[i]:list_col[i] for i in range(len(list_col))},inplace=True)
#     for i in range(len(data)):
#         if datetime.datetime.strptime(data.iloc[i,0], '%Y.%m.%d %H:%M.%f ').strftime('%H:%M') == '16:30' or status == 'on':
#             data.iloc[i,0] = np.nan
#             status = 'on'
#     data.dropna(inplace = True)
    return data

In [ ]:
def Condata(symbol):
    list_date = os.listdir(r'/Users/oat/Desktop/งาน/tick/2021.11.09.csv')#ที่อยู่forderที่เก็บไฟล์
    list_date.sort()
    check = False
    i = 0
    while check == False:
        if list_date[i] == '2021.10.01.csv':
            R = list_date[i:].copy()
            check = True
        else:
            i += 1
            pass
    
    a = getData(symbol,R[0])
    for i in range(1,len(R)):        
        b = getData(symbol,R[i])
        a = pd.concat([a,b])

    return a