In [9]:
import pandas as pd
import numpy as np
import xlsxwriter

In [10]:
df = pd.read_excel('/Users/oat/Desktop/Conclude_1.xlsx',sheet_name=None)

In [11]:
df.keys()

dict_keys(['Result-3-5', 'Result-5-10'])

In [12]:
df['Result-3-5'].head(50)

,Time,Symbol,Open,High,Low,Close,TP,SL,Close_Price,Commission,Price_buy,Price_sell,Vol,Value_Buy,Value_Sell,Realized,%Change,%change_end_day,Count,n_gain
0,2010-01-05,SOLAR,2.01,2.07,1.83,1.86,2.09,1.91,1.91,0.00107,2.012151,1.907956,49600,99802.67472,94634.63248,-5168.04224,-0.051783,NaN,NaN,NaN
1,2010-01-08,TKT,2.24,2.26,1.92,1.99,2.32,2.14,2.14,0.00107,2.242397,2.137710,44500,99786.65760,95128.10390,-4658.55370,-0.046685,NaN,NaN,NaN
2,2010-01-14,True,2.01,2.03,1.97,1.99,2.09,1.91,1.99,0.00107,2.012151,1.987871,49600,99802.67472,98598.38672,-1204.28800,-0.012067,0.020749,NaN,NaN
3,2010-01-14,D*,2.36,2.44,2.24,2.24,2.44,2.26,2.44,0.00107,2.362525,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,1.0,1.0
4,2010-01-14,CRD*,2.36,2.44,2.24,2.24,2.44,2.26,2.44,0.00107,2.362525,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,2.0,2.0
5,2010-01-14,CPR*,2.36,2.44,2.24,2.24,2.44,2.26,2.44,0.00107,2.362525,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,3.0,3.0
6,2010-01-15,CMO*,1.44,1.46,1.37,1.39,1.48,1.39,1.39,0.00107,1.441541,1.388513,69300,99898.77744,96223.93011,-3674.84733,-0.036786,-0.036786,NaN,NaN
7,2010-01-19,TAPAC*,1.28,1.28,1.21,1.23,1.32,1.23,1.23,0.00107,1.281370,1.228684,78000,99946.82880,95837.34420,-4109.48460,-0.041117,NaN,NaN,NaN
8,2010-01-28,DIMET*,0.25,0.25,0.23,0.23,0.29,0.20,0.23,0.00107,0.250267,0.229754,399500,99981.86625,91786.68305,-8195.18320,-0.081967,NaN,NaN,NaN
9,2010-02-04,PROUD*,2.28,2.36,2.15,2.33,2.36,2.18,2.36,0.00107,2.282440,2.357475,43800,99970.85448,103257.39624,3286.54176,0.032875,NaN,4.0,4.0
10,2010-02-09,PROUD*,2.45,2.54,2.33,2.36,2.53,2.35,2.53,0.00107,2.452621,2.527293,40700,99821.69505,102860.82103,3039.12598,0.030446,NaN,5.0,5.0
11,2010-02-23,SOLAR,2.36,2.92,2.36,2.82,2.44,2.26,2.44,0.00107,2.362525,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,6.0,6.0
12,2010-02-25,SOLAR,2.76,2.90,2.60,2.68,2.84,2.66,2.84,0.00107,2.762953,2.836961,36100,99742.61052,102414.29932,2671.68880,0.026786,NaN,7.0,7.0
13,2010-03-17,THCOM,5.15,5.20,5.05,5.10,5.35,4.90,5.10,0.00107,5.155511,5.094543,19300,99501.35265,98324.67990,-1176.67275,-0.011826,NaN,NaN,NaN
14,2010-03-23,LPN,7.45,7.70,7.45,7.50,7.65,7.20,7.65,0.00107,7.457971,7.641815,13400,99936.81810,102400.31430,2463.49620,0.024651,NaN,8.0,8.0
15,2010-03-24,LH,6.60,6.70,6.50,6.60,6.80,6.35,6.60,0.00107,6.607062,6.592938,15100,99766.63620,99553.36380,-213.27240,-0.002138,NaN,NaN,NaN
16,2010-04-20,LPN,5.95,6.60,5.95,6.60,6.15,5.70,6.15,0.00107,5.956366,6.143420,16700,99471.32055,102595.10565,3123.78510,0.031404,NaN,9.0,9.0
17,2010-04-20,THAI,23.30,25.25,23.30,25.00,23.70,22.80,23.70,0.00107,23.324931,23.674641,4200,97964.71020,99433.49220,1468.78200,0.014993,NaN,10.0,10.0
18,2010-04-20,KTB,11.48,12.32,11.29,12.23,11.88,10.98,11.88,0.00107,11.492284,11.867288,8700,99982.86732,103245.40908,3262.54176,0.032631,NaN,11.0,11.0
19,2010-04-20,PTTGC,51.18,54.19,50.87,54.19,52.18,49.93,52.18,0.00107,51.234763,52.124167,1900,97346.04894,99035.91806,1689.86912,0.017359,NaN,12.0,12.0
20,2010-04-22,SIMAT*,1.26,1.39,1.26,1.35,1.30,1.21,1.30,0.00107,1.261348,1.298609,79200,99898.77744,102849.83280,2951.05536,0.029540,NaN,13.0,13.0
21,2010-04-26,CIG*,1.57,1.68,1.57,1.62,1.61,1.52,1.61,0.00107,1.571680,1.608277,63600,99958.84164,102286.43628,2327.59464,0.023286,NaN,14.0,14.0
22,2010-04-26,SIMAT*,1.37,1.37,1.32,1.33,1.41,1.32,1.32,0.00107,1.371466,1.318588,72900,99979.86411,96125.03604,-3854.82807,-0.038556,NaN,NaN,NaN
23,2010-04-29,TTB,1.33,1.34,1.30,1.32,1.37,1.28,1.32,0.00107,1.331423,1.318588,75100,99989.87481,99025.92876,-963.94605,-0.009640,NaN,NaN,NaN
24,2010-05-04,KTB,12.14,12.32,11.95,12.14,12.54,11.64,12.14,0.00107,12.152990,12.127010,8200,99654.51636,99441.48364,-213.03272,-0.002138,NaN,NaN,NaN
25,2010-05-04,AP,4.05,4.20,4.02,4.20,4.13,3.95,4.13,0.00107,4.054333,4.125581,24600,99736.60410,101489.29014,1752.68604,0.017573,NaN,15.0,15.0
26,2010-05-04,SCB,86.00,89.00,86.00,88.50,87.00,84.75,87.00,0.00107,86.092020,86.906910,1100,94701.22200,95597.60100,896.37900,0.009465,NaN,16.0,16.0
27,2010-05-04,TCAP,23.80,24.20,23.70,24.10,24.20,23.30,24.20,0.00107,23.825466,24.174106,4100,97684.41060,99113.83460,1429.42400,0.014633,NaN,17.0,17.0
28,2010-05-04,TOP,49.25,50.50,49.25,50.00,50.25,48.00,50.25,0.00107,49.302697,50.196233,2000,98605.39500,100392.46500,1787.07000,0.018123,NaN,18.0,18.0
29,2010-05-04,PTT,26.90,27.10,26.80,26.90,27.90,25.65,26.90,0.00107,26.928783,26.871217,3700,99636.49710,99423.50290,-212.99420,-0.002138,NaN,NaN,NaN
30,2010-05-11,UNIQ,4.20,4.28,4.10,4.12,4.28,4.10,4.28,0.00107,4.204494,4.275420,23700,99646.50780,101327.46348,1680.95568,0.016869,NaN,19.0,19.0
31,2010-05-11,NBC*,2.85,2.87,2.79,2.82,2.93,2.75,2.82,0.00107,2.853050,2.816983,35000,99856.73250,98594.39100,-1262.34150,-0.012642,NaN,NaN,NaN
32,2010-05-13,ASIAN,1.95,2.25,1.94,2.09,1.99,1.90,1.99,0.00107,1.952087,1.987871,51200,99946.82880,101778.97984,1832.15104,0.018331,NaN,20.0,20.0
33,2010-05-18,KKC,2.80,2.88,2.55,2.61,2.88,2.70,2.88,0.00107,2.802996,2.876918,35600,99786.65760,102418.29504,2631.63744,0.026373,NaN,21.0,21.0
34,2010-05-18,CFRESH,3.38,3.48,3.32,3.38,3.46,3.28,3.46,0.00107,3.383617,3.456298,29500,99816.68970,101960.78510,2144.09540,0.021480,NaN,22.0,22.0
35,2010-05-26,SIMAT*,1.46,1.51,1.36,1.36,1.50,1.41,1.50,0.00107,1.461562,1.498395,68400,99970.85448,102490.21800,2519.36352,0.025201,NaN,23.0,23.0
36,2010-06-01,TMI*,1.18,1.25,1.15,1.17,1.22,1.13,1.22,0.00107,1.181263,1.218695,84600,99934.81596,103101.56316,3166.74720,0.031688,NaN,24.0,24.0
37,2010-06-01,KIAT,0.99,1.00,0.83,0.88,1.03,0.94,0.94,0.00107,0.991059,0.938994,100900,99997.88337,94744.51478,-5253.36859,-0.052535,NaN,NaN,NaN
38,2010-06-02,TMI*,1.22,1.23,1.13,1.15,1.26,1.17,1.17,0.00107,1.221305,1.168748,81800,99902.78172,95603.59458,-4299.18714,-0.043034,NaN,NaN,NaN
39,2010-06-02,UNIQ,3.98,4.34,3.98,4.34,4.06,3.88,4.06,0.00107,3.984259,4.055656,25000,99606.46500,101391.39500,1784.93000,0.017920,NaN,25.0,25.0
40,2010-06-03,NEWS*,0.64,0.65,0.63,0.63,0.68,0.59,0.63,0.00107,0.640685,0.629326,156000,99946.82880,98174.84040,-1771.98840,-0.017729,NaN,NaN,NaN
41,2010-06-03,STEC,4.59,4.67,4.51,4.59,4.67,4.49,4.67,0.00107,4.594911,4.665003,21700,99709.57521,101230.56727,1520.99206,0.015254,NaN,26.0,26.0
42,2010-06-03,KWG,2.80,2.90,2.48,2.62,2.88,2.70,2.88,0.00107,2.802996,2.876918,35600,99786.65760,102418.29504,2631.63744,0.026373,NaN,27.0,27.0
43,2010-06-08,UPA*,1.37,1.38,1.31,1.31,1.41,1.32,1.32,0.00107,1.371466,1.318588,72900,99979.86411,96125.03604,-3854.82807,-0.038556,NaN,NaN,NaN
44,2010-06-09,KIAT,1.36,1.41,1.30,1.36,1.40,1.31,1.40,0.00107,1.361455,1.398502,73400,99930.81168,102650.04680,2719.23512,0.027211,NaN,28.0,28.0
45,2010-06-17,STPI,6.15,6.15,6.05,6.10,6.35,5.90,6.10,0.00107,6.156580,6.093473,16200,99736.60410,98714.26260,-1022.34150,-0.010250,NaN,NaN,NaN
46,2010-06-21,RCL,13.80,13.80,13.40,13.60,14.20,13.30,13.60,0.00107,13.814766,13.585448,7200,99466.31520,97815.22560,-1651.08960,-0.016599,NaN,NaN,NaN
47,2010-06-21,SIRI,1.03,1.04,1.00,1.00,1.07,0.98,1.00,0.00107,1.031102,0.998930,96900,99913.79349,96796.31700,-3117.47649,-0.031202,NaN,NaN,NaN
48,2010-06-23,AMATA,8.63,8.73,8.48,8.73,8.83,8.38,8.73,0.00107,8.639234,8.720659,11500,99351.19215,100287.57735,936.38520,0.009425,NaN,NaN,29.0
49,2010-07-08,BLAND,0.64,0.64,0.61,0.62,0.68,0.59,0.62,0.00107,0.640685,0.619337,156000,99946.82880,96616.50960,-3330.31920,-0.033321,NaN,NaN,NaN

In [13]:
Time = df['Result-3-5'].loc[0,'Time ']
List = [df['Result-3-5'].loc[0,'%Change']]
for i in range(1,len(df['Result-3-5'])):
    if Time != df['Result-3-5'].loc[i,'Time ']:
        Time = df['Result-3-5'].loc[i,'Time ']
        df['Result-3-5'].loc[i-1,'%Change_end_day'] = sum(List)/len(List)
        List = []
        List.append(df['Result-3-5'].loc[i,'%Change'])

    elif Time == df['Result-3-5'].loc[i,'Time ']:
        List.append(df['Result-3-5'].loc[i,'%Change'])

In [14]:
df['Result-3-5']

,Time,Symbol,Open,High,Low,Close,TP,SL,Close_Price,Commission,...,Price_sell,Vol,Value_Buy,Value_Sell,Realized,%Change,%change_end_day,Count,n_gain,%Change_end_day
0,2010-01-05,SOLAR,2.01,2.07,1.83,1.86,2.09,1.91,1.91,0.00107,...,1.907956,49600,99802.67472,94634.63248,-5168.04224,-0.051783,NaN,NaN,NaN,-0.051783
1,2010-01-08,TKT,2.24,2.26,1.92,1.99,2.32,2.14,2.14,0.00107,...,2.137710,44500,99786.65760,95128.10390,-4658.55370,-0.046685,NaN,NaN,NaN,-0.046685
2,2010-01-14,True,2.01,2.03,1.97,1.99,2.09,1.91,1.99,0.00107,...,1.987871,49600,99802.67472,98598.38672,-1204.28800,-0.012067,0.020749,NaN,NaN,NaN
3,2010-01-14,D*,2.36,2.44,2.24,2.24,2.44,2.26,2.44,0.00107,...,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,1.0,1.0,NaN
4,2010-01-14,CRD*,2.36,2.44,2.24,2.24,2.44,2.26,2.44,0.00107,...,2.437389,42300,99934.81596,103101.56316,3166.74720,0.031688,NaN,2.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,2021-08-30,RWI*,2.40,2.44,2.30,2.32,2.48,2.30,2.30,0.00107,...,2.297539,41600,99946.82880,95577.62240,-4369.20640,-0.043715,NaN,NaN,NaN,NaN
3413,2021-08-30,ESSO,7.95,8.10,7.85,8.05,8.15,7.70,8.05,0.00107,...,8.041386,12500,99481.33125,100517.33125,1036.00000,0.010414,NaN,NaN,1684.0,-0.014503
3414,2021-08-31,IRCP*,1.32,1.62,1.29,1.50,1.36,1.27,1.36,0.00107,...,1.358545,75600,99898.77744,102705.98688,2807.20944,0.028101,NaN,1548.0,1685.0,0.028101
3415,2021-09-01,MAKRO,43.75,52.25,43.50,50.00,44.75,42.50,44.75,0.00107,...,44.702117,2200,96352.98750,98344.65850,1991.67100,0.020671,NaN,1549.0,1686.0,NaN
3416,2021-09-01,CPALL,67.00,67.75,63.75,65.00,68.00,65.75,65.75,0.00107,...,65.679648,1400,93900.36600,91951.50650,-1948.85950,-0.020755,NaN,NaN,NaN,NaN

In [15]:
Time = df['Result-5-10'].loc[0,'Time ']
List = [df['Result-5-10'].loc[0,'%Change']]
for i in range(1,len(df['Result-5-10'])):
    if Time != df['Result-5-10'].loc[i,'Time ']:
        Time = df['Result-5-10'].loc[i,'Time ']
        df['Result-5-10'].loc[i-1,'%Change_end_day'] = sum(List)/len(List)
        List = []
        List.append(df['Result-5-10'].loc[i,'%Change'])

    elif Time == df['Result-5-10'].loc[i,'Time ']:
        List.append(df['Result-5-10'].loc[i,'%Change'])

In [16]:
df['Result-5-10']

,Unnamed: 0,Time,Symbol,Open,High,Low,Close,TP,SL,Close_Price,...,Price_buy,Price_sell,Vol,Value_Buy,Value_Sell,Realized,%Change,Count,n_gain,%Change_end_day
0,0,2010-01-11,SPCG,7.30,8.80,7.25,8.80,7.50,7.05,7.50,...,7.307811,7.491975,13600,99386.22960,101890.86000,2504.63040,0.025201,1.0,1.0,0.025201
1,1,2010-01-12,SPCG,9.25,10.40,7.90,9.00,9.45,9.00,9.45,...,9.259897,9.439888,10700,99080.90325,101006.80695,1925.90370,0.019438,2.0,2.0,0.019438
2,2,2010-01-28,CMO*,1.56,1.56,1.40,1.46,1.60,1.51,1.51,...,1.561669,1.508384,64000,99946.82880,96536.59520,-3410.23360,-0.034120,NaN,NaN,-0.034120
3,3,2010-02-10,YUASA*,3.76,3.84,3.24,3.30,3.84,3.66,3.84,...,3.764023,3.835891,26500,99746.61480,101651.11680,1904.50200,0.019093,3.0,3.0,0.019093
4,4,2010-02-11,D*,2.14,2.38,2.06,2.24,2.22,2.04,2.22,...,2.142290,2.217625,46600,99830.70468,103341.30636,3510.60168,0.035166,4.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,1374,2021-08-27,U,1.12,1.15,1.02,1.02,1.16,1.07,1.07,...,1.121198,1.068855,89100,99898.77744,95234.98941,-4663.78803,-0.046685,NaN,NaN,-0.046685
1375,1375,2021-08-30,T*,0.12,0.12,0.11,0.11,0.16,0.07,0.11,...,0.120128,0.109882,832400,99994.88016,91466.02652,-8528.85364,-0.085293,NaN,NaN,NaN
1376,1376,2021-08-30,AJA,0.40,0.41,0.38,0.38,0.44,0.35,0.38,...,0.400428,0.379593,249700,99986.87160,94784.47198,-5202.39962,-0.052031,NaN,NaN,NaN
1377,1377,2021-08-30,TOP,50.50,50.75,49.50,50.00,51.50,49.25,50.00,...,50.554035,49.946500,1900,96052.66650,94898.35000,-1154.31650,-0.012018,NaN,NaN,-0.049780
1378,1378,2021-08-31,TH,2.88,3.00,2.62,2.86,2.96,2.78,2.96,...,2.883082,2.956833,34600,99754.62336,102306.41488,2551.79152,0.025581,709.0,751.0,NaN

In [8]:
df['Result-3-5'].to_excel('/Users/oat/Desktop/AAA.xlsx')

In [17]:
DW = pd.ExcelWriter('/Users/oat/Desktop/AAA.xlsx')
df['Result-3-5'].to_excel(DW,sheet_name='Result-3-5')
df['Result-5-10'].to_excel(DW,sheet_name='Result-5-10')

In [18]:
DW.close()